@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #444;
}

a {
  text-decoration: none;
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .active-nav {
    @apply font-bold;
  }

  .image-rounded {
    @apply flex-center h-12 w-12 rounded-full;
  }

  .border-bottom {
    @apply border-[1px] border-solid border-b-gray-200;
  }

  .border-standard {
    @apply border-[1px] border-solid border-gray-200;
  }
}
